body {
	background:#000000 url(../images/black.jpg) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

legend span {
    position: relative;
    top: -15px;
}

h1, h2 {
}

h1, h1 a, h2, h2 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 14px;
	font-weight: normal;
}

a {
	color: #FFFFFF;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

hr {
	display: none;
}

#header {
	width: 960px;
	height: 206px;
	margin: 0 auto;
	background: url(../images/header.jpg) no-repeat top left;
}

#logo {
	width: 870px;
	height: 152px;
	margin: 0 auto;
}

#logo h1 {
	margin: 0;
	padding-top: 10px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 48px;
	font-family: Abduction;
}

#logo h2 {
	margin: 0;
	padding-top: 0px;
	padding-left: 0px;
	font-weight: normal;
	font-size: 18px;
	font-weight: bold;
	font-family: "Times New Roman";
}

/* Page */

#container{
	width: 900px;
	margin: 0 auto;
	padding: 45px 35px 0 25px;
}

#registration {
	width: 65%;
	float: left;
	border: 5px dotted yellow;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left: 150px;
}

legend span {
	margin: 0;
	font-size: 22px;
	padding: 20px 20px 0 20px;
	background: url(../images/img04.gif) no-repeat left 100%;
	border-bottom: 1px solid #FFFFFF;
}

fieldset {
	padding: 20px 0 20px 0;
}

fieldset input {
	border: 1px dotted red; 
}

fieldset textarea {
	border: 1px dotted red; 
}
	
fieldset select{
	border: 1px dotted red; 
}

.submit input {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	background-color: red;
	width: 100px;
	height: 35px;
	vertical-align: 60%;
	font-size: 15px;
	cursor: auto;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 250px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 20px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 5px 20px;
}

#sidebar li h2 {
	height: 30px;
	margin-bottom: 15px;
	padding: 5px 0px 0px 20px;
	background: #4E9FC8 url(../images/img03.jpg) no-repeat;
	font-size: 16px;
	font-weight: bold;
	font-family: Abduction;
	color: #FFFFFF;
	text-align:right;
	padding-right:10px;
}

#sidebar li h2 a {
	color: #FFFFFF;
	text-decoration: none;
}

#sidebar li h2 a:hover {
	text-decoration: underline;
}

#sidebar li p {
	padding: 0 10px;
	font-weight: bold;
	font-size: 14px;
}

#sidebar #input-username {
	position: relative; left: 20px;
	border: 1px dotted red; 
}

#sidebar #input-password {
	position: relative; left: 22px;
	border: 1px dotted red; 
}

#sidebar label {
	font-weight: bold;
}

#sidebar #loginButton {
	position: relative; left: 190px;
	background: red;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
}

/* Footer */

#footer {
	clear: both;
	width: 870px;
	height: 50px;
	margin: 0 auto;
	padding: 35px 45px;
	border-top: 4px solid #FEF200;
	background: url(../images/footer.gif) no-repeat;
}

#footer p {
	margin: 0;
	line-height: normal;
	color: #FFFFFF;
}

#footer a {
	color: #FEF200;
}

#footer .legal {
	float: left;
}

#footer .credit {
	float: right;
}

#style-switcher {
    clear: both;
	position: relative; bottom: 10px;
}

#style-switcher  a {
	font-size: 14px;
	font-weight: bold;
	color: #FEF200;
}	
.submit input:hover {
	border: 2px solid #FFFF00;
	color: #FFFF00;
}
.submit input:active {
	color: #F0F000;
	background-color: #E60000;
	border-top-color: #F0F000;
	border-right-color: #F0F000;
	border-bottom-color: #F0F000;
	border-left-color: #F0F000;
}
/*Khusus Login Page */
#loginform {
	font-weight: bold;
	font-size: 14px;
	float: left;
	clear: both;
	position: relative;
	width: 250px;
	padding: 20px;
	left: 40%;
}
#loginform #LoginButton {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	background-color: red;
	width: auto;
	height: auto;
	vertical-align: top;
	font-size: 15px;
	position: relative;
	left: 170px;
	text-align: center;
}

#loginform #LoginButton:hover {
	border: 2px solid #FFFF00;
	color: #FFFF00;
}
#loginform #LoginButton:active {
	color: #F0F000;
	background-color: #E60000;
	border-top-color: #F0F000;
	border-right-color: #F0F000;
	border-bottom-color: #F0F000;
	border-left-color: #F0F000;
}
#loginform #input-username {
	position: relative;
	left: 20px;
	border: 1px dotted red;
	width: 150px;
	float:right;
}
#loginform #input-password {
	position: relative; 
	left: 20px;
	border: 1px dotted red;
	width: 150px;
	float:right;
}
#loginform a {
	font-size: 14px;
	font-weight: normal;
}
#loginstatus {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	clear: left;
}
/* Menu */
#menu {
	width: 960px;
	padding-bottom: 30px;
	vertical-align: middle;
}

#menu ul {
	list-style-image: none;
	list-style-type: none;
	padding-top: 23px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 28px;
	margin: 0;
}

#menu li {
	float: left;
	padding: 0 2px 0 2px;
}

#menu li.first a{
	float: left;
	padding: 9px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFF00;
	background-color: #009900;
}

#menu a {
	float: left;
	background: #000000;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: none;
	padding: 9px 20px;
	background-color: #00FF00;
	color: #FFFF00;
}
.message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FFFFFF;
	background-color: #FF0000;
	width: auto;
	margin: 0px;
	padding: 5px;
	text-align: center;
}
/*repository.php*/
table, td, th
{
	border:1px solid #99FF66;
	vertical-align: middle;
	padding: 7px;
}
th
{
background-color:green;
color:white;
}

.repobutton {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	background-color: red;
	width: auto;
	height: auto;
	vertical-align: top;
	font-size: 15px;
	position: relative;
	text-align: center;
}

.repobutton:hover {
	border: 2px solid #FFFF00;
	color: #FFFF00;
}
.repobutton:active {
	color: #F0F000;
	background-color: #E60000;
	border-top-color: #F0F000;
	border-right-color: #F0F000;
	border-bottom-color: #F0F000;
	border-left-color: #F0F000;
}
#repolist {
	border: 1px solid #00CC00;
	float: left;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#repolist .no {
	text-align: center;
}
#repolist .count {
	text-align: center;
}
